.profileAddUsers_main{
    height: 100%;
    display: flex;
    flex-direction: column;
    .custom_search_main{
        .ant-input{
            background-color: #f5f5f5;
            border-radius: 4px 4px 0px 0px;
        }
    }
}