.ant-table-wrapper, .ant-spin-nested-loading, .ant-spin-container, .ant-table, .ant-table-content,.ant-table-scroll, .ant-table-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    max-height: unset ;
}

.ant-table-thead  tr  th{
padding: 5px 16px !important;
}