.ant-table-wrapper, .ant-spin-nested-loading, .ant-spin-container, .ant-table, .ant-table-content,.ant-table-scroll, .ant-table-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    max-height: unset ;
}



.ant-table-thead  tr  th{
    padding: 5px 16px !important;
}

.ant-table-thead{
    background-color: #f5f5f5;
}


.ant-table-column-sorter{
    padding-bottom: 4px;
}

.ant-table-tbody{

    tr{
        td{
            padding: 10px 16px !important;
        }
    }

    

    .ant-table-row{
        .ant-table-column-has-actions{
            .name_with_image{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .no_profile_pic{
                    width: 33px;
                    height: 33px;
                    border-radius: 50%;
                    background-color: whitesmoke;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p{
                        margin: 0;
                        text-transform: uppercase;
                    }

                    .deactivated_user_pic{
                        height: 21px;
                        width: 21px;
                    }
                }

                img{
                    height: 33px;
                    width: 33px;
                    border-radius: 50%;
                }

                .only_name{
                    width: 66%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-transform: capitalize;
                }
            }
        }
    }


    .user_table_row_deactivated_user{
        background-color: #fff0e5;
    }
}

.user_table_main{
    .ant-table-body{
        tr{
            cursor: pointer;
        }
    }
}


.row_not_clickable{
    .ant-table-body{
        tr{
            cursor : auto
        }

    }
}