.user-console-view {
  height: 100%;
  background-color: #f0f1f8;

  .user-console-view-wrap {
    height: 100%;
    display: flex;

    .left-panel {
      width: 250px ;/*305px;*/
      background: white;
      overflow-x: scroll;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

      .nav-link{
        text-decoration: none;
        color:#000000;
        font-size: 14px;
      }
      .nav-link-active{
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color:#000000;
      }

      .nav-link-wrap{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
      }

      .people {
        background-image: url(../../images/people_main.svg);
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 20px;
        padding: 22px 0 21px 65px;
        background-color: #fafafa;
        font-size: 14px;
        color: #323232;
        border-bottom: 1px solid #c2c5c8;
      }

      .list-item {
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 20px;
        padding: 22px 0 21px 65px;
        cursor: pointer;
      }

      .console-link {
        background-image: url(../../images/console.svg);
      }

      .team-view-link {
        background-image: url(../../images/teamview.svg);
      }

      .departments-link {
        background-image: url(../../images/department.svg);
      }

      .designations-link {
        background-image: url(../../images/designation.svg);
      }

      .link-active{
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 20px;
        padding: 22px 0 21px 65px;
        background-color: #edf6fd;
        cursor: pointer;
      }

      .console-link-active {
        background-image: url(../../images/console_select.svg);

      }

      .team-view-link-active {
        background-image: url(../../images/teamview-active.svg);

      }

      .departments-link-active {
        background-image: url(../../images/department-active.svg);
      }

      .designations-link-active {
        background-image: url(../../images/designation-active.svg);
      }

      
    }
    .route-wrap{
      width: calc(100% - 250px);
      height: 100%;
      padding: 20px;
    }
  }
}