.add-users-common-card {
  width: 400px;
  font-family: sans-serif;
  display: flex;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  text-transform: none;
  margin: 50px auto;
  flex-direction: column;
  background-color: #ffffff;


  .add-users-common-card-title {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    text-transform: none;
    padding: 5px 15px;
    font-size: 21px;
  }

  .icon-mini {
    background-image: url("../../../images/empty-customer.svg");
    margin: auto;
    background-repeat: no-repeat;
    width: 85px;
    height: 85px;
    background-size: 85px;
  }

  .text {
    padding: 15px;
    font-size: 13px;
  }

  .add-users-common-card-button {
    margin: 10px;
    width: 160px;
  }

}

