/*----------------Text---------------------*/


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/





/*----------------Gender-------------------*/
.select_gender{
    .select_gender_container{
        display: flex;
        padding: 10px;

        .single_gender_container{
            width: 70px;
            height: 70px;
            border-radius: 3px;
            border: solid 1px #d7d7d7;
            background-color: #f8f8f8;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 10px ;

            img{
                height: 26px;
            }

            p{
                margin: 0;
                margin-top: 5px;
                font-size: 12px;
                text-transform: capitalize;
                line-height: normal;
            }
        }

        .single_gender_container:hover, .selected-gender{
            background-color: #e5faff;
            cursor: pointer;
        }
    }
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
