.add_user_main{
    z-index: 10;
    background-color: #fff;
    position: absolute;
    width: 60%;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    height: 95.8%;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,.2);

    .add_user_container{
        // padding: 15px;
        display: flex;
        flex-direction: column;
        height: 100%;

        

        .heading-with-close{
            padding: 15px 15px 0px 15px;
            display: flex;
            justify-content: space-between;
            
            .heading{
                color: #323232;
                font-size: 15px;
                font-weight: 600;
            }

            img{
                margin-top: 2px;
                height: 14px;
                cursor: pointer;
            }
        }

        .profile_pic_with_details{
            display: flex;
            position: absolute;
            flex-direction: column;
            top: 10%;
            align-items: center;
            width: 26.3%;
            border-bottom: 1px solid #f1f1f1;
            z-index: 12;

            .profile_pic{
                height: 100px;
                width: 80px;
                border: 1px solid #e5e5e5;
                border-radius: 3px;
                overflow: hidden; 

                .change_photo{
                    padding: 2px;
                    margin: 0;
                    text-align: center;
                    color: #1890ff;
                    font-size: 0.8em;
                    background: #f8f8f8;
                    border-top: 1px solid #e5e5e5;
                    cursor: pointer;
               }
            }

            img{
                height: 78px;
                width: 78px;
                padding: 1px;
            }

            .user_details{
                margin-left: 20px;

                p{
                    margin-bottom: 0.4em;
                    font-size: 12px;
                }
            }
        }

        .add_user_tab_container{
        //    padding: 0 5px;
            display: flex;
            flex-direction: row;
            height: 100%;

            .ant-tabs-content{
                height: 100%;
                width: 100%;
            }

            .ant-tabs-nav-animated>div{
                display: flex;
                flex-direction: column;
                align-items: baseline;
            }

            .ant-tabs-nav-wrap{
               margin-top: 266px;
            }

            .ant-tabs-left-bar{
                width: 225px ;
            }

            .ant-tabs-nav-scroll{
                width: 100%;
            }
        }


        .bottom_buttons{
            height: 70px;
            padding: 4px 10px 4px 10px;;
            background: #F6F6F6;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            button:first-child, button:nth-child(2){
               margin-right: 10px;
            }
            
        }

    }

    
}

.pop_up_display_block{
    z-index: 9;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    top: 0;
    left: 0;
    opacity: 0.5;
}