.allUserSelect_main{
    display : flex;
    justify-content : center;
    height : 100%;
    .allUserSelect_container{
        width : 94%;    
        display : flex;
        flex-direction : column;
        height : 100%;
        border-radius : 2px;
        box-shadow : 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        border : solid 1px #dbdee0;
        background-color : #f5f5f5;

      }

    .all_user_details{
        font-size : 12px;
        height : 100%;
        display : flex;
        flex-direction : column;

        .upper_heading_details, .user_details_container{
            display : flex;
            border-top : solid 1px #e1e1e1;
            width : 100%;
            align-items: center;
        }

        .upper_heading_details{
            height: 30px;
        }

        .user_details_container{
            padding : 5px 0px 5px 0px;
            cursor: pointer;
        }

        .user_details_container:hover{
            background-color: rgba(3,155,229,.1);
        }

        .ant-checkbox-group{
            width : 100%;
        }

        .lower_user_details{
            height : 100%;
            background-color : #ffffff;
            overflow : scroll;
        }

        .upper_checkbox, .lower_checkbox{
            text-align : center;
            width : 3%;
        }

        .all_headings, .single_user_details{           
             display : grid;
             width : 95%;

             div{
                 display : flex;
                 align-items : center;
                 padding-left: 4px;
                 padding-right: 4px;
             }
        }

       

        .all_headings{
            color: #707070;
            font-weight: 600;
            height: 100%;
            div{
                cursor: pointer;
            }
            div:hover{
                background-color: #e9eded;
            }

            .data_dsc,  .data_asc{
                background-size: 11px;
                background-repeat: no-repeat;
                background-position: 86%;
            }

            .data_dsc{
                background-image: url("../../images/svg/down-arrow-medium.svg");
            }

            .data_asc{
                background-image: url("../../images/svg/up-arrow-medium.svg");

            }
        }

        .single_user_details{
            align-items: center;
            div{
            display: inline-block;
            white-space: nowrap;
            width: 92%;
            overflow: hidden;
            text-overflow: ellipsis;

            img{
                height: 36px;
                width:  36px;
                border-radius: 50%;
            }

            span{
                margin-right: 10px;
            }
            }
            
        }

        .column_settings{
            width : 2%;
            padding: 3px 0 3px 0;

            img{
                height: 10px;
                cursor : pointer;
            }
        }
    }

    .total_users{
        .total_users_container{
            display : flex;
            justify-content : space-between;
            padding : 18px 30px 4px 24px;
            color: #989898;

            .pagination , .rows_per_page, .page_no{
                display : flex;
            }

            .ant-select-selection--single{
                border: none;
                background-color: #f5f5f5; 
                height: 24px;
            }

            .current_page{
                margin-right: 28px;
                margin-left: 42px; 
            }

            .ant-select-selection__rendered{
                line-height: 23px;
            }

            .ant-select-selection:focus{
                box-shadow: unset;
            }

            .ant-select-selection-selected-value{
                color: #989898;
            }

            .change_page{
                width: 72px;

                .prev_page, .next_page{
                    img{
                        height: 12px;
                        cursor: pointer;
                    }
                }

                .prev_page_blocked , .next_page_blocked{
                    pointer-events: none;
                     opacity: 0.4;
                }

                .prev_page{
                    margin-right: 31px;  
                }
            }
        }
    }
    
}