.team-view {
  height: 100%;
  display: flex;
  flex-direction: column;

  .component-header-buttons-wrap {
    display: flex;
    justify-content: space-between;
  }

  .component-header {
    font-size: 20px;
  }

  .search-dropdown-wrap {
    margin-right: 20px;
  }

  .team-view-buttons-wrap {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
  }

  .import-users {
    background: #e0e0e0;
    border-color: #e0e0e0;
    color: #323232;
    margin-right: 20px;
  }

  .import-users:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background: #e0e0e0;
    border-color: #e0e0e0; /*cccccc*/
    color: #323232;
  }

  .import-users:focus {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background: #e0e0e0;
    border-color: #e0e0e0; /*cccccc*/
    color: #323232;
  }

  .org-chart {
    margin-top: 20px;

    .connector {
      //height: 30px;
      background-image: url(../../../images/svg/connection-line.svg);
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      bottom: 2px;
      height: 20px;
    }

    .reportees-count-wrap {
      position: relative;
      top: -32px;
      display: flex;

      .total-count {
        margin-left: auto;
        font-size: 13px;
        color: #4a4a4a;
      }

      .total-count-number {
        font-family: robotoBold;
      }
    }


    .manager-connection-wrap {
      position: relative;
      top: -42px;

      .connection {
        background-image: url(../../../images/svg/connection.svg);
        background-position: center;
        background-repeat: no-repeat;
        height: 40px;
        position: relative;
        bottom: -23px;
      }

      .horizontal-line {
        height: 2px;
        background-color: #dcdcdc;
        width: 100%;
        margin: 10px 0;
      }

    }

    .back-to-root-wrap {
      display: flex;
      margin: auto;
      border-radius: 12.5px;
      border: solid 1px #d7d7d7;
      width: 14%;
      background-color: #ffffff;
      padding: 5px;

      .back-to-root-icon {
        width: 9px;
        cursor: pointer;
        background-image: url(../../../images/svg/path-2.svg);
        background-size: 9px;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 7px;
      }

      .back-to-root-text {
        font-size: 12px;
        font-family: robotoBold;
        margin: 0 8px;
      }
    }

    .up-arrow {
      height: 30px;
      width: 30px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px;
      cursor: pointer;
      margin: auto;
    }
    .not-allowed.up-arrow {
      pointer-events: none;
      cursor: not-allowed;
    }
    .manager-hold {
      width: 100%;
      margin: 0 0 5px 0;
      overflow: hidden;
      position: relative;
      background-color: transparent;
      border: 0;
      display: flex;
      flex-direction: column;
      padding: 0;
      align-items: center;
      padding-bottom: 20px;
      margin-bottom: 0;
      border-radius: 0;

      .user-hold {
        width: 254px;
        display: inline-block;
        margin: 5px 5px 8px 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        font-size: 15px;
        padding: 10px;
        text-align: center;

      }

      .user-hold:hover {
        background: #ffecb3;
        border: 1px solid #ffd332;
      }

      /*.root-user{
        font-size: 15px;
        padding: 10px;
        width: 100%;
        text-align: center;
      }*/

    }

    .manager-hold:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #ccc;
      bottom: 0;
    }

    .manager-hold:after {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 28px;
      background-color: #ccc;
      bottom: 0;
    }

    .users-section {
      width: 100%;
      margin: 0;
      padding: 0 0 0 15px;
      background: #f8f8f8;
      //overflow: hidden;
      margin-top: 0px;
      border-radius: 0;
      border: 0;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;

      .left-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 27px;
        z-index: 2;
        height: auto;
        min-height: auto;
        box-shadow: none;
        border: none;
        background-color: transparent;

        .icon-search {
          background: url(../../../images/search_close.png) no-repeat scroll 6px -21px transparent;
          cursor: pointer;
          height: 36px;
          margin: 0;
          width: 100%;
          transition: background 0.5s;
        }


      }

      .search {
        width: 100%;
        height: 37px;
        background-color: #eef6fd;
        padding: 3px;
        border-bottom: 1px solid #e9e9e9;
        position: absolute;
        top: -38px;
        transition: all 500ms ease 0s;
        z-index: 1;
      }

      .users-display-section {
        height: calc(100vh - 200px);
        overflow: scroll;
        padding-bottom: 50px;
        display: inline-block;
        width: 100%;
        float: right;
        transition: all 500ms ease 0s;
        position: relative;

        .display-cards-wrap {

        }

        .team-view-user-card {
          display: inline-block;
          margin: 0 auto;

          .team-view-user-hold {
            width: 232px;
            margin: 5px 5px 8px 4px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            display: flex;
            padding: 1px;
          }

          .team-view-user-content {
            width: 89%;
            display: flex;

            .team-user-details {
              margin-top: 5px;

              .user-name, .user-designation {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 12px;
              }

              .user-name {
                color: rgb(50, 50, 50);
                font-weight: 600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 130px;
              }

              .hub-id {
                color: #696969;
                display: inline;
                font-size: 12px;
                font-weight: 400;

              }

            }

            .user-icon {
              width: 63px;
              height: 63px;
              margin: 5px;
              background-size: 90% auto;
              border: 1px solid #ececec;
              border-radius: 3px;
              background-color: #fff;
              background-repeat: no-repeat;
              background-position: 50% 50%;
            }
          }

          .team-view-user-hold:hover {
            background: #ffecb3;
            border: 1px solid #ffd332;
          }

          .show-slider-icon {
            width: 24px;
            height: 71px;
            border: 1px solid #fff799;
            background: #fff url(../../../images/sprite_v1.png) repeat scroll -109px -159px;
            border-radius: 0 3px 3px 0;
            position: relative;
            top: 1px;
            float: right;
            cursor: pointer;
            right: 1px;
            display: none;
          }

        }

        .team-view-user-card:hover {
          .show-slider-icon {
            display: inline-block !important;
          }
        }

        .manager-list-wrap {
          display: flex;

          ul {
            display: flex;
            flex-direction: column;
            max-width: 1000px;
            //overflow: scroll;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            //margin: 0 auto;
            width: 100%;
          }
        }


        .reportee-list-wrap {
          display: flex;
          margin-top: 8px;

          ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            //max-width: 1700px;
            /*max-height: 350px;
            overflow: scroll;*/
            margin: 0 auto;
            flex-wrap: wrap;
          }
        }

        .user-list-item-variant {
          cursor: pointer;
          height: 100px;
          width: 100%;
        }

        .user-list-item {
          cursor: pointer;
        }

        .card-wrap {
          display: flex;
        }

      }

    }

  }

  .loader {
    background-image: url(../../../images/loader_medium.gif);
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    left: 251px;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
  }
  .reportee-loader.loader{
    width: 100%;
    height: 400px;
  }
  .cover{
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: transparent; /*rgba(0,0,0,.5)*/
    height: calc(100vh - 120px);
  }

}