@font-face {
    font-family: robotoSemiBold;
    src: url(../../../../utils/fonts/robotoSemiBold.ttf)
  }

.appsAddUser_main{
    .appsAddUser_container{
      
        
        .main_heading{
            color: #323232;
            font-size: 17px;
            font-family: robotoSemiBold;
            margin-top: 20px;
            margin-left: 20px
        }
    }
}