.search_and_buttons{
    width : 100%;
    display : flex;
    padding: 10px;
    justify-content : space-between;

    .search_users{
        width: 56%;
        .ant-input-affix-wrapper{
            width : 63%; 
            
            .ant-input-suffix{
            left: 12px;
            right: unset;
            }           
        }
    
        input, .ant-input-affix-wrapper{
            border: none;
        }

        input{
            text-indent: 24px;
            background-color : #f5f5f5;
            -webkit-transition: unset; 
            transition: unset;
        }

        
        
        input:focus, .ant-input-affix-wrapper:focus{
            border : none;
            outline : none;
            border-color: unset;
            box-shadow : unset
          }
    }

    .all_buttons{
        display: flex;
        justify-content: flex-end;
    }

.import_button, .import_button:focus{
    color: #4a4a4a;
    background-color: #d9dadb;
    border-color: #d9dadb;
}

.import_button{
    margin-right: 20px;
    display: flex;

    div{
        width: 32px;
        border-radius: 4px;
        background-color: white;
        margin-left: 10px;
        color: #4a4a4a;
    }
}

.import_button_disable{
    pointer-events: none;
    opacity: 0.5;
}

.import_button, .add_user_button{
    font-size: 12px;
}

.add_user_button, .add_user_button:focus{
      color: #f1f1f1;
      background-color: #1e88e5;
      border-color: #1e88e5;
  }
       
}

.suggestionSearch_with_addUser{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;

    .ant-select-auto-complete.ant-select .ant-input{
        border-width: 0;
    }

    .ant-select-auto-complete.ant-select .ant-input:hover{
        border-color: unset;
        border-right-width: 0 !important;
    }
    

    .add_user{
        display: flex;
        margin-left: 12px;
    
        .vLine{
            border: 0.5px solid #bcbcbc;
            margin-right: 9px;
        }

        img{
            height: 24px;
            margin-right: 5px;
            cursor: pointer;
        }

    }
}


.user_selected{
    
    background-color: #707070;

    .search_users{
        input{
            background-color: #707070;
            color: #d7d7d7;
        }
    }

    .ant-input-suffix svg{
        color: #d7d7d7;
    }

    .all_buttons{
        display: flex;
        align-items: center;
        width: 26%;
        .user_action_buttons{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;

            .user_activate, .user_deactivate{
                height: 20px;
            }

            .partition_div{
                height: 26px;
                border: 0.5px solid #979797;
            }

            .user_delete{
                height: 18px;
            }

            .action_deactivated{
                pointer-events: none;
                opacity: 0.5;
            }

            .user_edit{
                height: 16px;
            }

            .user_count{
                color: #707070;
                font-size: 15px;
                width: 34px;
                height: 21px;
                border-radius: 4px;
                background-color: white;
                display: flex;
                justify-content: center;
                cursor: pointer;
            }
            img{
                cursor: pointer;
            }
        }
    }
}