.leave-create-new-popup-modal {
  .field-wrap {
    padding: 5px;
  }

  .leave-selection {
    width: 100%;
    margin: 5px 0;
  }
}
.leave-options, .ant-select-selection-selected-value{
  text-transform: capitalize;
}


