html,body,div,ul{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;

}
@font-face {
  font-family: roboto;
  src: url(../../hubblerAdminApp/src/utils/fonts/robotoRegular.ttf)
}
@font-face {
  font-family: robotoLight;
  src: url(../../hubblerAdminApp/src/utils/fonts/robotoLight.ttf)
}
@font-face {
  font-family: robotoSemiBold;
  src: url(../../hubblerAdminApp/src/utils/fonts/robotoSemiBold.ttf)
}

@font-face {
  font-family: robotoBold;
  src: url(../../hubblerAdminApp/src/utils/fonts/robotoBold.ttf)
}
@font-face {
  font-family: robotoMedium;
  src: url(../../hubblerAdminApp/src/utils/fonts/robotoMedium.ttf)
}


ul,li{
  list-style: none;
}


body,.App,.page-content,#root{
  height: 100%;
  font-family: roboto;
}

.page-content{
  display: flex;
  padding: 20px;
  background: linear-gradient(357deg, #667eea, #764ba2);
}

.loading{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
