.selection-page-display {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.selection-page-display li {
  padding: 15px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.selection-page-display li.active {
  background-color: #667eea;
  color: #fff;
}
.disabled {
  pointer-events: none;
}
.page-change-number {
  display: flex;
  align-items: center;
}
.page-change-number .number-arrow-display {
  flex-shrink: 0;
  width: 100px;
  text-align: center;
  color: #764ba2;
  font-weight: 900;
  line-height: 48px;
}
.page-change-buttons {
  display: flex;
}
.page-change-buttons .button-round {
  width: 100px;
}
.page-change-buttons .next.button-round {
  margin-left: auto;
}
.user-details-view {
  margin: auto;
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.user-details-view .user-details-header {
  margin-bottom: 20px;
}
.user-details-view .user-details-header ul {
  display: flex;
  align-items: center;
}
.user-details-view .user-details-header .user-pic .profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-right: 20px;
}
.user-details-view .user-details-header .back-arrow {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-image: url("images/back-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.user-details-view .user-details-header .user-name {
  font-weight: bold;
  font-size: 20px;
}
.user-details-view .user-details-body ul li {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #d8d8d8;
}
.user-details-view .user-details-body ul li .value {
  margin-left: auto;
  font-weight: 700;
}
.user-details-view .user-details-body ul li .label {
  color: #566784;
}
.user-details-view .user-details-body ul li:last-child {
  border: none;
}
.table-display {
  width: 100%;
}
.table-display .page-name {
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 600;
}
.table-display .table-part {
  background-color: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.table-display .table-body {
  overflow: scroll;
}
.table-display table {
  width: 100%;
  border-spacing: 0;
}
.table-display table th {
  white-space: nowrap;
  padding: 5px 10px;
  line-height: 30px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  min-width: 100px;
  text-align: start;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center right 4px;
}
.table-display table th.active {
  background-color: #f1faff;
}
.table-display table th.asc {
  background-image: url("images/alphabetical-order.svg");
}
.table-display table th.desc {
  background-image: url("images/sort-from-a-to-z-in-ascending-order.svg");
}
.table-display table td {
  padding: 5px 10px;
  line-height: 60px;
  white-space: nowrap;
  border-bottom: 1px solid #d8d8d8;
}
.table-display table tbody tr {
  cursor: pointer;
}
.table-display table tbody tr:hover {
  background-color: rgba(99, 147, 237, 0.1);
}
.table-display table tbody tr:last-child td {
  border: none;
}
.table-display .table-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
}
.table-display input {
  width: calc(100% - 60px);
  line-height: 40px;
  font-size: 15px;
  border: none;
  padding: 10px;
  background-color: transparent;
  position: relative;
}
.table-display input:focus {
  outline: none;
}
.table-display .search-icon {
  display: block;
  margin-left: 15px;
  width: 30px;
  height: 30px;
  background-image: url("images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.table-display .pagination-part {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
}
.table-display .pagination-part .page-change-buttons {
  display: flex;
  padding: 15px;
}
.table-display .pagination-part .page-change-buttons .button-round {
  width: 100px;
  text-align: center;
  line-height: 30px;
  border: 3px solid #d8d8d8;
  border-radius: 24px;
  color: #764ba2;
  font-weight: 900;
  cursor: pointer;
}
.table-display .pagination-part .page-change-number {
  margin: 0 15px;
  margin-bottom: 15px;
  border: 3px solid #d8d8d8;
  border-radius: 24px;
  cursor: pointer;
}
.no-data {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.no-data .empty-icon {
  background-image: url("images/empty-box.svg");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}
.no-data .search-key {
  font-weight: 900;
}
